@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lilita+One&family=Orbitron:wght@400..900&display=swap');

:root {
    font-size: 16px;
    --cor-github: black;
    --cor-facebook: #2c9cd9;
    --cor-x: black;
    --cor-instagram-gradient:linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    --cor-linkedin: #0077b5;
    --cor-whatsapp: rgb(117, 207, 117);
    --canto-redondo: 1rem;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}


header {
   
    padding: 10px;
    background-color: black;
    padding-bottom: 0px;
    width: 100%;
    margin: 0px;
}

#logo {
   
    width: 270px;
    margin-top: 33px;
    align-items: flex-start;
    padding-left: 20px;

}
    

#logo img {
    max-width: 100%;
 
}

a {
    text-decoration: none;
}

a:link {
    color: gray;
}

a:visited {
    color: gray;
}

a:active {
    color: cadetblue;
}

a:hover {
    color: rgb(135, 135, 135);
    transform: scale(1.03);
}


#banner{
    background-image: url("images/banner.jpg");
    background-position: left;
    background-size: cover;
    height: 130px;
    flex-grow: 1;
    display: flex;
   margin-right: 15px;
    margin-top: 10px;
    
    
    
}

#banner h4 {
    display: inline;
    padding: 1rem 1rem;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    margin-left: 20px;

}

#banner h4:hover {
    transform: scale(1.05);
    opacity: 0.8;

}


.bg-nav {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    background-color: black;
    display: flex;
    width: 100%;
 
}

section {
    margin: 30px 30px;
}

footer {
    background-color: black;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    color: white;
}

footer ul .list-group-item{
    background-color: transparent;
    border: transparent;
    padding-right: 10px;
    
    
}

/* footer ul li.list-group-item a{
    & .fa-square-github {
        color: var(--cor-github);
    }
    & .fa-square-facebook{
        color: var(--cor-facebook);
    }
    & .fa-x-twitter{
        color: var(--cor-x);
    }
    & .fa-square-instagram{
        background: var(--cor-instagram-gradient);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
    & .fa-linkedin{
        color: var(--cor-linkedin);
    }
    & .fa-square-whatsapp{
        color: var(--cor-whatsapp);
    }

} */

footer ul li.list-group-item a:hover {
    opacity: 0.7;

}

footer ul li .fa-brands:hover{
    transform: scale(1.2);
    /* transform: rotate(360deg); */
    transition: 0.2s;
}

footer ul li .fa-brands{
    font-size: 1.3rem;
    transition: 0.2s;
}